.solution {
    width: 680px;
    margin: 30px 40px 0px 40px;
    position: relative;
}

.solution h1, .solution p{
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}

.export-button {
    min-width: 130px;
    background-color: #fafffd;
    color: #36cba1;
    border-color: #36cba1;
}

.export-button:hover {
    background-color: #36cba1;
}

.fullscreen-button {
    min-width: 160px;
    background-color: white;
}

