.start-date {
  /* background-color: lightgreen; */
  margin-top: 30px;
  width: 680px;
  margin-left : 40px;
  margin-right : 40px;
  /* overflow-x: auto; */
}

.start-date h1, .start-date p {
  margin: 0;
  padding: 0;
}

.start-date p{
  padding: 10px 0;
}

.start-date form {
  display: flex;
  align-items: flex-end;
}

.start-date form input[type="date"] {
  margin-top: 10px;
  margin-right: 10px;
  height: 30px;
  border-radius: 10px;
  outline: #367dcb;
  border: 2px solid #367dcb;
  color: #a2cfff;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  box-sizing: border-box;
}

.start-date form button {
  height: 30px; 
  width: 50px;
  border: 2px solid #367dcb;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgb(224, 237, 255);
  font-weight: 500;
}

.start-date form button:hover {
  background-color: #367dcb;
  color: white;
}